<% content_for :head do %>

<% end %>

<div class="row">
	<div class="span6 offset3">
		<h2>Спасибо!</h2>
		<p>Расскажите друзьям об этом приложении</p>
	</div>
</div>
<div class="row">
	<div class="span6 lead">
		<h3>Поделись на Facebook</h3>
		<iframe src="https://www.facebook.com/plugins/like.php?href=https://itunes.apple.com/ru/app/yumixo.-znakom-tes-vstrecajtes/id525256014?mt=8&fb_action_ids=197341813732693&fb_action_types=og.likes&fb_source=timeline_og&action_object_map=%7B%22197341813732693%22%3A442893689086665%7D&action_type_map=%7B%22197341813732693%22%3A%22og.likes%22%7D&action_ref_map=%5B%5D"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>
	</div>
	<div class="span6 lead">
		<h3>Поделись в Твиттере</h3>
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://itunes.apple.com/ru/app/yumixo.-znakom-tes-vstrecajtes/id525256014?mt=8" data-text="Проголосовал за новую платформу для мобильного сервиса знакомств Yumixo" data-via="aabulkhairov" data-lang="ru" data-size="large">Твитнуть</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>