<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="navbar navbar-fixed-top" id="nav-bar">
      <div class="navbar-inner">
        <a class="brand" href="#">Yumixo​</a>
        <ul class="nav pull-right">
          <li>
            <a href="#"></a>
          </li>
        </ul>
      </div>
    </div>
<div class="container" id="hero-container">
  <h1 class="heading" id="title"> <strong>Step out for a date.</strong>

  </h1>
  <h2 class="heading" id="subtitle">Yumixo is the easiest way to meet new people.
    <span class="badge badge-important"></span>
  </h2>
  <%= link_to image_tag("/images/download_on_the_app_store_badge_us-uk_135x40.png", :class => "pull-center image image-1"), "http://appstore.com/yumixo"%>

  <img src="images/iphone_dateslist.png" class="pull-center image image-2">
</div>