<div class="navbar navbar-fixed-top" id="nav-bar">
      <div class="navbar-inner">
        <a class="brand" href="#"> <i class="icon icon-bolt"></i> Yumixo​</a>
        <ul class="nav pull-right">
          <li>
            <a href="#"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container" id="hero-container">
      <h1 class="heading" id="title">It's about time for a date.</h1>
      <h2 class="heading" id="subtitle">Yumixo is the easiest way to meet new people.</h2>
    </div>
    <div class="container">
      <div class="row-fluid" id="signup-form-container">
        <span class="span6 offset3">
          <form class="form-horizontal" id="signup-form" action="">
            <input class="textinput" type="text" placeholder="Type your email here" name="">
            <button class="btn">Button</button>
          </form>
        </span>
      </div>
    </div>
    <div class="container" id="image-container"></div>