<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h1 align="center">Step out for a date.</h1>
<h2 align="center">Yumixo is the easiest way to meet new people.
<span class="badge badge-important"></span>
</h2>
<p align="center">
<%= link_to image_tag("download_on_the_app_store_badge_us-uk_135x40.png", :class => "pull-center image image-1"), "http://appstore.com/yumixo"%></p>

<div align="center"><%= image_tag "iphone_dateslist.png"%></div>