<div id="wrap">

    <div class="header-container">
        <header class="wrapper clearfix">
        	<div class="ctaColumn">
        
            <h1>Yumixo</h1>
            
            <h3>Встречайся</h3>
            <p>
                Yumixo - новый способ знакомиться с людьми: создавайте "свидания", общайтесь, обменивайтесь фотографиями, местоположением и встречайтесь!
            </p>
            
            
            <!-- INSERT STORES /-->
            <ul class="clearfix">
            	<li><a href="http://AppStore.com/Yumixo"><img src="img/appStore_Btn@2x.png" alt="Download App" /></a></li>
                <li><%= link_to image_tag("playstore.png"), {:controller => "landing", :action => 'subscribe', :platform => "android"}%></li>
            </ul>
            
            <!-- INSERT ALT STORES // Insert Alternative App Store Links  -->
            
            <p class="available">Другое устройство? <%= link_to "Перейдите сюда", {:controller => "landing", :action => 'subscribe'}%></p>
            </div>
            
            <!-- START IPHONE SLIDER -->
            <div class="fader">
            	<div class="flexslider1">
            	  <ul class="slides">
            	  	<!-- INSERT IPHONE SLIDE  -->
            	    <li><img src="img/slide1@2x.jpg" alt="Mock Slide" /></li>
            	    <!-- INSERT IPHONE SLIDE  --> 
            	  	<li><img src="img/slide2@2x.jpg" alt="Mock Slide" /></li>
            	  	<!-- INSERT IPHONE SLIDE  --> 
            	  	<li><img src="img/slide3@2x.jpg" alt="Mock Slide" /></li> 
            	  </ul>
            	</div>
            </div>

            <!-- END HEADER -->	
        </header>
    </div>

	
	<!-- START FEATURES  -->	
    <div class="main-container">
        <div class="main wrapper clearfix">
			<article>
                <header>
                	<div class="flexslider2 quote">
                	  <ul class="slides">
                	  	<!-- INSERT QUOTE  -->
                	    <li>“ Я написала свидание, встретилась с несколькими людьми и теперь мы с моим парнем встречаемся уже 3 месяца. Спасибо!”<br> Марина, 27, Москва.</li>
                	     <!-- INSERT QUOTE  --> 
                	  	<li>“ Классная идея сервиса - прыгнуть с парашютом на первом свидании, а даже, если чувствуешь, что это не <i>он</i>, то вы хотя бы получили адреналин.” Олеся, 30.</li>
                	  	 <!-- INSERT QUOTE  -->
                	  	<li>“ Наконец я знаю, что предпочитают девушки на первом свидании.”<br>Алексей, 29. </li>
                	  </ul>
                	</div>	                  
                </header>
                
                
                <!-- INSERT FEATURE TEXT  -->
                <section>
                    <h6>1.</h6>
                    <h2>Напишите<br> свидание</h2>                        
                    <p>Выберете занятие на первое свидание, которое сами предпочитаете: приятная беседа за чашечкой кофе или сразу в самолет на прыжок с парашютом.</p>
                </section>
                
                <!-- INSERT FEATURE TEXT  -->
                <section>
                    <h6>2.</h6>
                    <h2>Пообщайтесь немного</h2>                        
                    <p>Подождите, пока кто-нибудь отзовется на ваше свидание. Вы также можете просматривать свидания, написанные другими пользователями и отписываться. Познакомьтесь друг с другом в нашем чате, с отправкой фото и координат на карте.</p>
                </section>
                
                <!-- INSERT FEATURE TEXT  -->
                <section class="last">
                    <h6>3.</h6>
                    <h2>Встречайтесь оффлайн</h2>                        
                    <p>Вы никогда по-настоящему, не узнаете друг друга, пока не встретитесь по-настоящему. Займитесь чем-то интересным. Даже если после свидания между вами не будет искры, то по крайней мере, вы хорошо проведете время!</p>
                </section>
            </article>

            
			<!-- END MAIN -->	
        </div> 
    </div> 
	
	
	
	
	<!-- START FOOTER  -->
    <div class="footer-container">
        <footer class="wrapper clearfix">
        
            <!-- LOGO Replace // Replace Text with your App name for SEO, text is replaced with logo.png file  -->
            <h1>Yumixo</h1>
            
            <!-- INSERT Footer Links // Insert Desired menu items  -->
            <ul>
            	<li><a href="mailto:hi@yumixo.com">Напишите нам</a></li>
            	<li><a href="http://twitter.com/yumixo_ru">Твиттер</a></li>
            	
            	<li><a href="http://facebook.com/YumixoRussia">Facebook</a></li>
            	<li><a href="http://vk.com/Yumixo">ВКонтакте</a></li>
                <li><%= link_to "Privacy", {:controller => "landing", :action => "policy" }%></li>
            	
            </ul>
            
        <!-- END FOOTER -->    
        </footer>
    </div>
    </div>
	
	
	