<div id="wrap">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

	<!-- START HEADER  -->
    <div class="header-container">
        <header class="wrapper clearfix">
        	<div class="ctaColumn">
            
            <!-- LOGO Replace // Replace Text with your App name for SEO, text is replaced with logo.png file  -->
            <h1>Yumixo</h1>
            
            <!-- START HEADER TEXT  -->
            <h3>Making dating fun and real</h3>
            <p>Yumixo is a new exciting way to find a romantic relationship. It helps you connect with singles with similar interests and to have relaxed and enjoyable dating experience. </p>
            
            <!-- INSERT STORES // Insert Desired App Store Buttons / Extra buttons in img folder  -->
            <ul class="clearfix">
            	<li><a href="http://AppStore.com/Yumixo"><img src="img/appStore_Btn@2x.png" alt="Download App" /></a></li>
            	
            </ul>
            
            <!-- INSERT ALT STORES // Insert Alternative App Store Links  -->
            
            <p class="available">Don't have iOS device? <%= link_to "Click here", {:controller => "landing", :action => 'subscribe'}%></p>
            </div>
            
            <!-- START IPHONE SLIDER -->
            <div class="fader">
            	<div class="flexslider1">
            	  <ul class="slides">
            	  	<!-- INSERT IPHONE SLIDE  -->
            	    <li><img src="img/slide1@2x.jpg" alt="Mock Slide" /></li>
            	    <!-- INSERT IPHONE SLIDE  --> 
            	  	<li><img src="img/slide2@2x.jpg" alt="Mock Slide" /></li>
            	  	<!-- INSERT IPHONE SLIDE  --> 
            	  	<li><img src="img/slide3@2x.jpg" alt="Mock Slide" /></li> 
            	  </ul>
            	</div>
            </div>

            <!-- END HEADER -->	
        </header>
    </div>

	
	<!-- START FEATURES  -->	
    <div class="main-container">
        <div class="main wrapper clearfix">
			<article>
                <header>
                	<div class="flexslider2 quote">
                	  <ul class="slides">
                	  	<!-- INSERT QUOTE  -->
                	    <li>“ I posted a date, went on a couple of dates and now in relationship. Thanks! Marina, 27, Moscow ” </li>
                	     <!-- INSERT QUOTE  --> 
                	  	<li>“ It's an amazing concept - jumping parachute on first date and even if you don't feel this is HIM - you had fun together. Olesya, 30.”</li>
                	  	 <!-- INSERT QUOTE  -->
                	  	<li>“ Finally i know what ladies want on first date. Alex, 29. ”</li>
                	  </ul>
                	</div>	                  
                </header>
                
                
                <!-- INSERT FEATURE TEXT  -->
                <section>
                    <h6>1.</h6>
                    <h2>Post your date</h2>                        
                    <p>Choose first date experience that you prefer: will it be a nice chat in coffeeshop or jumping with parachute straight away?</p>
                </section>
                
                <!-- INSERT FEATURE TEXT  -->
                <section>
                    <h6>2.</h6>
                    <h2>Chat a little</h2>                        
                    <p>Wait until someone replies on your idea. You can also view dates posted by other users and reply to them. Get to know each other in our image & location-friendly messaging.</p>
                </section>
                
                <!-- INSERT FEATURE TEXT  -->
                <section class="last">
                    <h6>3.</h6>
                    <h2>Meet offline</h2>                        
                    <p>You'll never really discover a person until you meet each other offline. Have fun together. You may like each other. Even if there's no spark in the end - at least you had great experience and continue.</p>
                </section>
            </article>

            
			<!-- END MAIN -->	
        </div> 
    </div> 
	
	
	
	
	<!-- START FOOTER  -->
    <div class="footer-container">
        <footer class="wrapper clearfix">
        
            <!-- LOGO Replace // Replace Text with your App name for SEO, text is replaced with logo.png file  -->
            <h1>Landy.App</h1>
            
            <!-- INSERT Footer Links // Insert Desired menu items  -->
            <ul>
            	<li><a href="mailto:hi@yumixo.com">Contact</a></li>
            	<li><a href="http://twitter.com/YumixoCom">Twitter</a></li>
            	
            	<li><a href="http://facebook.com/Yumixo">Facebook</a></li>
            	<li><a href="http://vk.com/Yumixo">VKontakte</a></li>
                <li><%= link_to "Privacy", {:controller => "landing", :action => "policy" }%></li>
            	
            </ul>
            
        <!-- END FOOTER -->    
        </footer>
    </div>
    </div>
	
	
	