html {
  background-color: #363636;
  background-image: url(../images/landing-page-tour-background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}
#nav-bar .navbar-inner {
  border: none;
  background: rgba(255, 255, 255, 0.278431);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0666667);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0666667);
  -o-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0666667);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0666667);
  padding-left: 20px;
  padding-right: 20px;
}
#nav-bar .brand {
  text-shadow: none;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}
#nav-bar .nav li a {
  text-shadow: none;
  color: #ffffff;
  line-height: 22px;
}
#hero-container {
  padding: 60px 0px 60px 0px;
}
#title {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.129412);
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  font-family:"proxima-nova";
  width: 940px;
}
#subtitle {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.168627);
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #f0f0f0;
  font-family:"proxima-nova";
}
#hero-container .image.image-1 {
  margin-top: 20px;
}
#hero-container .image.image-2 {
  margin-top: 30px;
}