// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image: url(landing-page-tour-background.jpg);
	background-position: center
}

h1 {
	font-family: "proxima-nova", Helvetica, Arial, Sans;
	color: #fff;
	font-size: 64px;
	margin: 50px 0 0 0;
}

h2 {
	font-family: "Proxima Nova", Helvetica, Arial, Sans;
	color: #eee;
	margin: 10px 0 40px 0;
	font-size: 24px;
}

p {
	margin: 0 0 40px 0;
}
