// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
	background-image: url(landing-page-tour-background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #eee;
	/*background-repeat: no-repeat;
	background-position: center;*/
	font-family: "proxima-nova", Helvetica, Arial, Sans;
}

h1 {
	font-family: "proxima-nova", Helvetica, Arial, Sans;
	color: #fff;
	font-size: 50px;
	margin: 50px 0 10px 0;
}

h2 {
	font-family: "Proxima Nova", Helvetica, Arial, Sans;
	color: #eee;
	margin: 10px 0 40px 0;
	font-size: 24px;
}

p {
	margin: 0 0 40px 0;
}
